div.simplicity-google-marker {
  position: absolute;
  letter-spacing: normal;
  cursor: pointer;
  border: none;
}
.simplicity-google-marker div {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.simplicity-google-marker .row {
  width: 21px;
  height: 21px;
  line-height: 21px;
  border: solid 2px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.simplicity-google-marker.white {
  color: #fff;
  border-color: #fff;
}
.simplicity-google-marker .ptr {
  width:0;
  height:0;
  border-bottom-width: 0;
  background: none;
  top: -1px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid;
}
.simplicity-google-marker .shadow {
  width:0;
  height:0;
  border: none;
  background: white;
  box-shadow: 0 0 5px 3px rgba(100,100,100,.8);
  z-Index: -3;
}
.simplicity-google-marker.exact div {
  background: #000;
  color: #eee;
}
.simplicity-google-marker.fuzzy div {
  background: #fff;
  color: #aaa;
}
.simplicity-google-marker div.ptr {
  background: none;
}
