.ui-simplicity-pagination .pagination a {
  text-decoration: none;
}

.ui-simplicity-pagination .pagination a,
.ui-simplicity-pagination .pagination span {
  display: block;
  float: left;
  padding: 0.3em 0.5em;
  margin-right: 5px;
  margin-bottom: 5px;
  min-width: 1em;
  text-align: center;
}

.ui-simplicity-pagination .pagination span {
  cursor: default;
}
